<div class="wrapper">
  <div class="inner">
    <img src="../../../assets/images/image-1.png" alt="" class="image-1" />
    <form action="">
      <h3>Welcome back</h3>
      <div class="form-holder">
        <span class="lnr lnr-user"></span>
        <input type="text" class="form-control" placeholder="Username" />
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input type="password" class="form-control" placeholder="Password" />
      </div>
      <button>
        <span>Login</span>
      </button>
      <div class="login-signUp">
        Don't have an account? &nbsp; 
        <span class="login-signUp-button" routerLink="/auth/sign-up"> &nbsp; Register<span class="lnr lnr-arrow-right"></span></span>
    </div>
    </form>
    <img src="../../../assets/images/image-2.png" alt="" class="image-2" />
  </div>
</div>
