<!-- <div class="modal-center">
    <div class="spinner-wrapper" *ngIf="isLoading">
      <div class="spinner" ></div>
    </div>
    <div class="card row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-13">
<p>hiii</p>
    </div>
  </div>
  </div>
   -->

   <h1 mat-dialog-title>Welcome user</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="onCancel()">No Thanks</button> -->
  <!-- <button mat-button [mat-dialog-close]="data.animal" 
             cdkFocusInitial>Ok</button> -->
</div>