<div class="survey-wrapp">
  <div class="survey">
    <h1 class="survey-head">e-Survey Shangri-La Questions</h1>
    <div
      class="survey-question-div"
      *ngFor="let question of questions; let i = index"
    >
      <h6 class="survey-question" (click)="openQuestion(i)">
        <i class="fas fa-circle question-icon"></i>{{ question.text }}
      </h6>
      <div
        class="collapse multi-collapse"
        [ngClass]="{ show: questionIndex == i, hide: questionIndex != i }"
        id="{{ 'tab_' + i }}"
      >
        <div id="loader" *ngIf="isLoading"></div>
        <div *ngIf="!isLoading" class="options-list">
          <div class="form-check" *ngFor="let option of options; let j = index">
            <input
              class="form-check-input"
              type="radio"
              name="questionOptions"
              id="{{ 'option_' + j }}"
              value="option1"
            />
            <label class="form-check-label" for="{{ 'option_' + j }}">
              {{ option.text }}
            </label>
          </div>
          <div class="submit-button">
            <button>Submit</button>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
