.survey-wrapp {
  width: 100%;
  height: 100%;
}
.survey {
  margin: 0;
  padding: 4vh 5vw;
}
.survey-head {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 0.1rem solid #cfcfcf;
  color: #7c7c7c;
  margin: 0rem 5rem 2rem 5rem;
  padding: 1rem 0;
}
.survey-question-div {
  /* display: grid;
  justify-content: space-between; */
}
.survey-question {
  padding: 1rem 0;
  cursor: pointer;
}
.survey-question:hover {
  color: #7c7c7c;
  font-weight: 600;
}
.do-survey {
  padding: 1rem 0;
}
.question-icon {
  font-size: 0.75rem;
  margin: auto 1rem;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #21242d url("../../../../../assets/images/loader.gif") no-repeat
    center;
  z-index: 999;
}
.options-list {
  padding: 0.5rem 4.5vw;
  display: grid;
}
.options-list .form-check {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.submit-button {
  width: 100%;
}
.submit-button button {
  /* float: right; */
  width: fit-content;
  padding: 0 1rem;
  margin: 0.5rem auto;
}

/* .survey-card{
    padding: 1rem;
}
.survey-card .card{
    background-image: url(../../../../../assets/images/25235.jpg);
    background-size: cover;
}
.card-subtitle{
    font-size: 1.2rem;
} */
